---
title: Brunch with static generation and browser sync
headline: Static website generation skeleton for Brunch.io
_options:
  layout: app/layouts/article.static.hbs
---

<h3>How to install MDL</h3>

<p>Uses Material Design Lite and BrowserSync</p>

<p>This skeleton can be used with <a href="http://brunch.io">Brunch</a> to generate a static website based on Material Design Lite look.</p>

<h3>Basic MDL Usage</h3>

<p>
	Or go back to the <a href="/">overview page</a>
</p>

