---

title: Brunch with static generation and browser sync
headline: Static website generation skeleton for Brunch.io
_options:
  layout: app/layouts/textheavy.static.hbs
---
<p> This is a static website generated with <a href="http://brunch.io">Brunch</a> and the skeleton at <a href="https://github.com/MartinGross/brunch-mdl-static">https://github.com/MartinGross/brunch-mdl-static</a>.

 It is based on the Material Design Lite look.
 </p>

<p>Uses Material Design Lite and BrowserSync</p>

<p>This skeleton can be used with <a href="http://brunch.io">Brunch</a> to generate a static website based on Material Design Lite look.</p>

<p>Go to a <a href="article.html">web page with an article</a></p>